<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WLQuickApps.ContosoBicycleClub.Data.Properties.Settings.contosobicycleclubdbConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Projects\Contoso.BicycleClub\Main\Source\ContosoBicycleClub\App_Data\ContosoBicycleClubDB.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>