<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
  <location path="Administrator.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrator"/>
        <deny roles="RegisteredUser"/>
      </authorization>
    </system.web>
  </location>
</configuration>