<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WLQuickApps.ContosoSoda.Alerts.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="WLDemo.Alerts.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <WLQuickApps.ContosoSoda.Alerts.Properties.Settings>
            <setting name="WLQuickApps_ContosoSoda_Alerts_Live_Alerts_Message_MessageWebServicesService"
                serializeAs="String">
                <value>http://services.alerts.live.com/axis/services/Message</value>
            </setting>
            <setting name="WLQuickApps_ContosoSoda_Alerts_Live_Alerts_Subscription_AlertsWebServicesService"
                serializeAs="String">
                <value>http://services.alerts.live.com/axis/services/Subscription</value>
            </setting>
        </WLQuickApps.ContosoSoda.Alerts.Properties.Settings>
        <WLDemo.Alerts.Properties.Settings>
            <setting name="WLDemo_Alerts_Live_Alerts_Message_MessageWebServicesService"
                serializeAs="String">
                <value>http://services.alerts.live-ppe.com/axis/services/Message</value>
            </setting>
            <setting name="WLDemo_Alerts_Live_Alerts_Subscription_AlertsWebServicesService"
                serializeAs="String">
                <value>http://services.alerts.live-ppe.com/axis/services/Subscription</value>
            </setting>
        </WLDemo.Alerts.Properties.Settings>
    </applicationSettings>
</configuration>