<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <dataConfiguration defaultDatabase="default" />
  <connectionStrings>
    <add name="default" connectionString="Data Source={DATABASE};Initial Catalog=VisitPlannerDev;Persist Security Info=True;User ID={USER NAME};Password={PASSWORD}" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>