<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SiteTitle" value="Social Network" />
    <add key="P3PCompactPolicy" value="CAO DSP COR CURa ADMa DEVa OUR IND" />
    <add key="SpecialGroups" value="" />
    <add key="SpecialEvents" value="" />
    <add key="SpecialForums" value="" />
    <add key="FeedbackEmail" value="support@localhost" />
    <add key="SiteFromEmailAddress" value="support@localhost" />
    <add key="AutomaticallyApproveNewUsers" value="True" />
    <add key="AutomaticallyApproveNewMedia" value="True" />
    <add key="AutomaticallyApproveNewGroups" value="True" />
    <add key="AutomaticallyApproveNewCollections" value="True" />
    <add key="WindowsLiveAppID" value="" />
    <add key="WindowsLiveSecret" value="" />
    <add key="SilverlightStreamingUserName" value="" />
    <add key="SilverlightStreamingPassword" value="" />
    <add key="SilverlightStreamingIDPrefix" value="" />
    <add key="LiveAlertsMessageUrl" value="http://services.alerts.live-ppe.com/axis/services/Message" />
    <add key="LiveAlertsSubscriptionUrl" value="http://services.alerts.live-ppe.com/axis/services/Subscription" />
    <add key="LiveAlertsPassword" value="" />
    <add key="LiveAlertsPin" value="" />
    <add key="LiveAlertsChangeUrl" value="" />
    <add key="MapPointUserName" value="" />
    <add key="MapPointPassword" value="" />
    <add key="MapPointFindServiceUrl" value="http://findv3.staging.mappoint.net/Find-30/FindService.asmx" />
    <add key="MediaDropPath" value="" />
    <add key="ProcessorQueuePath" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="MediaThumbnailTimeout" value="30" />
    <add key="ExpressionMediaEncoderPath" value="C:\Program Files\Microsoft Expression\Encoder 1.0\Encoder.exe"/>
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="LocalSqlServer" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SocialNetwork;Integrated Security=True" />
    <add name="WLQuickApps.SocialNetwork.Data.Properties.Settings.SocialNetworkConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SocialNetwork;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <authentication mode="Forms" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <clear />
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LocalSqlServer" applicationName="SocialNetwork" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" />
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" cacheRolesInCookie="false" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="SqlProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="LocalSqlServer" applicationName="SocialNetwork" />
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>