<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="system.web">
			<section name="searchService" type="SearchProviderSection" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
		</sectionGroup>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<appSettings>
		<!--
    ********************************************************************************************
                                        MAINTENANCE

    Setting "ShowServicePage" this value to true will redirect /Default.aspx requests to 
    /service.html.
    -->
		<add key="ShowServicePage" value="false"/>
		<!--
    ********************************************************************************************
                                        AUTHENTICATION

    Windows Live Authentication credentials (from http://msm.live.com/app). When you register
    your site on the msm site, set the return URL to "[your site root]/Register.aspx", such
    as http://localhost/Register.aspx or http://localhost/Tafiti/Register.aspx
    (if the app is running in the Tafiti virtual directory).
    ********************************************************************************************
    -->
		<add key="wll_appid" value=""/>
		<add key="wll_secret" value=""/>
		<add key="wll_securityalgorithm" value="wsignin1.0"/>
		<!--
    ********************************************************************************************
                                        AUTHENTICATION

    You can get credentials for the Search API at http://search.msn.com/developer.
    ********************************************************************************************
    -->
		<add key="LiveSearchAppID" value=""/>
		<add key="LiveSearch.webservices" value="http://soap.search.msn.com/webservices.asmx"/>
		<!--
    ********************************************************************************************
                                        ANALYTICS

    Leave the LiveAnalyticsID field empty to disable tracking.
    - OPTIONAL: If you would like Microsoft to be able to track your deployment of the Tafiti 
      code using the AdCenter Analytics Beta, please enter "C588" as the LiveAnalyticsID field.
    ********************************************************************************************
    -->
		<add key="LiveAnalyticsID" value="C588"/>
		<!--
    ********************************************************************************************
                                        COMMUNICATION

    If "SendEmail" is false, the site will not send emails.
    "SiteEmail" is used as the From address whenever email is sent.
    
    Also be sure to confirm the SMTP network information in the system.net\mailSettings
    section below if you want to send mail.
    ********************************************************************************************
    -->
		<add key="SendEmail" value="True"/>
		<add key="SiteEmail" value="invite@tafiti.com"/>
	<add key="SPSearch.search" value="https://yoursharepointserver/_vti_bin/search.asmx"/>
	</appSettings>
	<connectionStrings>
		<add name="WLQuickApps.Tafiti.Data.Properties.Settings.TafitiConnectionString" connectionString="Data Source=middle-tier\SQLEXPRESS;Initial Catalog=Tafiti;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.net>
		<mailSettings>
			<smtp>
				<network host="localhost" port="25" defaultCredentials="true"/>
			</smtp>
		</mailSettings>
	</system.net>
	<system.net>
		<connectionManagement>
			<add address="*" maxconnection="100"/>
		</connectionManagement>
	</system.net>
	<system.web>
		<searchService defaultProvider="SearchProviderSharePoint">
			<providers>
				<add name="SearchProviderSharePoint" type="SearchProviderSharePoint"/>
			</providers>
		</searchService>
		<customErrors mode="Off"/>
		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
		<pages enableViewState="false">
			<controls>
				<add tagPrefix="ss" namespace="nStuff.ScriptSharp.Web.UI" assembly="nStuff.ScriptSharp.Web, Version=0.4.5.0, Culture=neutral, PublicKeyToken=8fc0e3af5abcb6c4"/>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</controls>
		</pages>
		<!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="nStuff.ScriptSharp, Version=0.4.5.0, Culture=neutral, PublicKeyToken=8FC0E3AF5ABCB6C4"/>
				<add assembly="nStuff.ScriptSharp.Web.Design, Version=0.4.5.0, Culture=neutral, PublicKeyToken=8FC0E3AF5ABCB6C4"/>
				<add assembly="nStuff.ScriptSharp.Web, Version=0.4.5.0, Culture=neutral, PublicKeyToken=8FC0E3AF5ABCB6C4"/>
			</assemblies>
		</compilation>
		<trace enabled="false" pageOutput="false"/>
		<!-- To tune these settings, see http://msdn2.microsoft.com/en-us/library/ms998549.aspx -->
		<!-- Note that the processModel element can only be changed in machine.config -->
		<!-- 
          <processModel enable="true"
            maxIoThreads="100"
            maxWorkerThreads="100"
            />
        -->
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpModules>
	</system.web>
	<system.web.extensions>
		<scripting>
			<webServices>
				<!-- Uncomment this line to customize maxJsonLength and add a custom converter -->
				<!--
                <jsonSerialization maxJsonLength="500">
                    <converters>
                        <add name="ConvertMe" type="Acme.SubAcme.ConvertMeTypeConverter"/>
                    </converters>
                </jsonSerialization>
                -->
				<!-- Uncomment this line to enable the authentication service. Include requireSSL="true" if appropriate. -->
				<!--
                <authenticationService enabled="true" requireSSL = "true|false"/>
                -->
				<!-- Uncomment these lines to enable the profile service. To allow profile properties to be retrieved
                     and modified in ASP.NET AJAX applications, you need to add each property name to the readAccessProperties and
                     writeAccessProperties attributes. -->
				<!--
                      <profileService enabled="true"
                      readAccessProperties="propertyname1,propertyname2"
                      writeAccessProperties="propertyname1,propertyname2" />
                -->
			</webServices>
			<!--
            <scriptResourceHandler enableCompression="true" enableCaching="true" />
            -->
		</scripting>
	</system.web.extensions>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="ScriptModule"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</modules>
		<handlers>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</handlers>
	</system.webServer>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="OptionInfer" value="true"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
