<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WLQuickApps.SocialNetwork.VideoProcessorService.Settings.SilverlightStreamingApiSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WLQuickApps.SocialNetwork.VideoProcessorService.Settings.MediaProcessorSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WLQuickApps.SocialNetwork.VideoProcessorService.Settings.SilverlightStreamingApiSettings>
            <setting name="ServiceRoot" serializeAs="String">
                <value>https://silverlight.services.live.com/</value>
            </setting>
        </WLQuickApps.SocialNetwork.VideoProcessorService.Settings.SilverlightStreamingApiSettings>
        <WLQuickApps.SocialNetwork.VideoProcessorService.Settings.MediaProcessorSettings>
            <!-- 
            ***************************************************
                PER IMPLEMENTATION CONFIGURATION - START
            ***************************************************
            -->
            <setting name="ServiceWorkingDir" serializeAs="String">
                <value></value><!-- Example: C:\Code\CodeplexTFS04\WLQuickAppsHidden\WLQuickApps.SocialNetwork\WLQuickApps.SocialNetwork.VideoProcessorService\bin\Debug\ -->
            </setting>
            <setting name="MediaSubmissionQueue" serializeAs="String">
                <value></value><!-- Example: lenovot60\private$\processorqueue -->
            </setting>
            <setting name="ProcessorWorkingDir" serializeAs="String">
                <value></value><!-- Example: C:\Code\CodeplexTFS04\WLQuickAppsHidden\WLQuickApps.SocialNetwork\WLQuickApps.SocialNetwork.VideoProcessorService\ProcessorDir\ -->
            </setting>
            <!-- 
            ***************************************************
                PER IMPLEMENTATION CONFIGURATION - END
            ***************************************************
            -->
            <setting name="CommandLineTarget" serializeAs="String">
                <value>C:\Program Files\Microsoft Expression\Encoder 1.0\encoder.exe</value>
            </setting>
            <setting name="EventLogMachineName" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="EventLogName" serializeAs="String">
                <value>Application</value>
            </setting>
            <setting name="EventLogSourceName" serializeAs="String">
                <value>WLQuickApps Media Processor Service</value>
            </setting>
            <setting name="EventLogThreshold" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DebugFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CommandLineTimeout" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="EMEFilesToPackage" serializeAs="String">
                <value>BasePlayer.js, MicrosoftAjax.js, player.js, StartPlayer.js, player.xaml, manifest.xml</value>
            </setting>
        </WLQuickApps.SocialNetwork.VideoProcessorService.Settings.MediaProcessorSettings>
    </userSettings>
</configuration>