<?xml version="1.0" encoding="utf-8"?>
<StoreData>
	<Brand id="Springfield">
	  <ProductGroup id="Jeans">
			<Product gender="Men" id="1" us_price="59">
				<Media>
					<VideoThumb id="1" url="thumbs/SPF_Men_1.jpg"/>
					<MoreInfoThumbs>
						<Image id="1.1" url="thumbs/SPF_Men_1_1.jpg"/>
						<Image id="1.2" url="thumbs/SPF_Men_1_2.jpg"/>
						<Image id="1.3" url="thumbs/SPF_Men_1_3.jpg"/>
					</MoreInfoThumbs>
					<Video id="1" url="/SPF_Men_1.wmv"/>
				</Media>
				<Sizes>
					<us_en><![CDATA[46|48|50|52|54|56]]></us_en>
				</Sizes>
				<Colors>
					<us_en><![CDATA[Medium washed|Light washed|Dark contrast]]></us_en>
				</Colors>
				<Descriptions>
					<us_en><![CDATA[Straight Leg Dark contrast Jeans]]></us_en>
				</Descriptions>
				<Compositions>
					<us_en><![CDATA[100% Cotton]]></us_en>
				</Compositions>
			</Product>
		</ProductGroup>
		<ProductGroup id="Sweatshirt">
			<Product gender="Men" id="2" us_price="44">
				<Media>
					<VideoThumb id="2" url="thumbs/SPF_Men_2.jpg"/>
					<MoreInfoThumbs>
						<Image id="2.1" url="thumbs/SPF_Men_2_1.jpg"/>
						<Image id="2.2" url="thumbs/SPF_Men_2_2.jpg"/>
						<Image id="2.3" url="thumbs/SPF_Men_2_3.jpg"/>
					</MoreInfoThumbs>
					<Video id="2" url="/SPF_Men_2.wmv"/>
				</Media>
				<Sizes>
					<us_en><![CDATA[M|L|XL|XXL]]></us_en>
				</Sizes>
				<Colors>
					<us_en><![CDATA[Brown]]></us_en>
				</Colors>
				<Descriptions>
					<us_en><![CDATA[Classic Fit Dirty from Outer Space Hoody]]></us_en>
				</Descriptions>
				<Compositions>
					<us_en><![CDATA[100% Cotton]]></us_en>
				</Compositions>
			</Product>
		</ProductGroup>
		<ProductGroup id="Sneakers">
			<Product gender="Women" id="3" us_price="37">
				<Media>
					<VideoThumb id="3" url="thumbs/SPF_Woman_1.jpg"/>
					<MoreInfoThumbs>
						<Image id="3.1" url="thumbs/SPF_Woman_1_1.jpg"/>
						<Image id="3.2" url="thumbs/SPF_Woman_1_2.jpg"/>
						<Image id="3.3" url="thumbs/SPF_Woman_1_3.jpg"/>
					</MoreInfoThumbs>
					<Video id="3" url="/SPF_Woman_1.wmv"/>
				</Media>
				<Sizes>
					<us_en><![CDATA[37|38|39|40|41]]></us_en>
				</Sizes>
				<Colors>
					<us_en><![CDATA[White|Black]]></us_en>
				</Colors>
				<Descriptions>
					<us_en><![CDATA[White sneakers]]></us_en>
				</Descriptions>
				<Compositions>
					<us_en><![CDATA[Upper: 100% Cotton - Inner: 100% Cotton - Outsole: 100% Rubber]]></us_en>
				</Compositions>
			</Product>
		</ProductGroup>
		<ProductGroup id="Skirt">
			<Product gender="Women" id="4" us_price="44">
				<Media>
					<VideoThumb id="4" url="thumbs/SPF_Woman_2.jpg"/>
					<MoreInfoThumbs>
						<Image id="4.1" url="thumbs/SPF_Woman_2_1.jpg"/>
						<Image id="4.2" url="thumbs/SPF_Woman_2_2.jpg"/>
						<Image id="4.3" url="thumbs/SPF_Woman_2_3.jpg"/>
					</MoreInfoThumbs>
					<Video id="4" url="/SPF_Woman_2.wmv"/>
				</Media>
				<Sizes>
					<us_en><![CDATA[36|37|38|39|40|41|42]]></us_en>
				</Sizes>
				<Colors>
					<us_en><![CDATA[White with blue stripes]]></us_en>
				</Colors>
				<Descriptions>
					<us_en><![CDATA[Overall Striped Skirt]]></us_en>
				</Descriptions>
				<Compositions>
					<us_en><![CDATA[100% Cotton]]></us_en>
				</Compositions>
			</Product>
		</ProductGroup>
		<ProductGroup id="Shirt">
			<Product gender="Women" id="5" us_price="24">
				<Media>
					<VideoThumb id="5" url="thumbs/SPF_Woman_2a.jpg"/>
					<MoreInfoThumbs>
						<Image id="5.1" url="thumbs/SPF_Woman_2a_1.jpg"/>
						<Image id="5.2" url="thumbs/SPF_Woman_2a_2.jpg"/>
						<Image id="5.3" url="thumbs/SPF_Woman_2a_3.jpg"/>
					</MoreInfoThumbs>
					<Video id="5" url="/SPF_Woman_2a.wmv"/>
				</Media>
				<Sizes>
					<us_en><![CDATA[S|M|L]]></us_en>
				</Sizes>
				<Colors>
					<us_en><![CDATA[Yellow]]></us_en>
				</Colors>
				<Descriptions>
					<us_en><![CDATA[Yellow tee shirt]]></us_en>
				</Descriptions>
				<Compositions>
					<us_en><![CDATA[100% Cotton]]></us_en>
				</Compositions>
			</Product>
		</ProductGroup>
		<ProductGroup id="Scarf">
			<Product gender="Women" id="6" us_price="19">
				<Media>
					<VideoThumb id="6" url="thumbs/SPF_Woman_3.jpg"/>
					<MoreInfoThumbs>
						<Image id="6.1" url="thumbs/SPF_Woman_3_1.jpg"/>
						<Image id="6.2" url="thumbs/SPF_Woman_3_2.jpg"/>
						<Image id="6.3" url="thumbs/SPF_Woman_3_3.jpg"/>
					</MoreInfoThumbs>
					<Video id="6" url="/SPF_Woman_3.wmv"/>
				</Media>
				<Sizes>
					<us_en><![CDATA[N/A]]></us_en>
				</Sizes>
				<Colors>
					<us_en><![CDATA[Lime]]></us_en>
				</Colors>
				<Descriptions>
					<us_en><![CDATA[Foulard multi stripes]]></us_en>
				</Descriptions>
				<Compositions>
					<us_en><![CDATA[25% Silk - 75% Viscose]]></us_en>
				</Compositions>
			</Product>
		</ProductGroup>
		<ProductGroup id="Skirt">
			<Product gender="Women" id="7" us_price="30">
				<Media>
					<VideoThumb id="7" url="thumbs/SPF_Woman_4.jpg"/>
					<MoreInfoThumbs>
						<Image id="7.1" url="thumbs/SPF_Woman_4_1.jpg"/>
						<Image id="7.2" url="thumbs/SPF_Woman_4_2.jpg"/>
						<Image id="7.3" url="thumbs/SPF_Woman_4_3.jpg"/>
					</MoreInfoThumbs>
					<Video id="7" url="/SPF_Woman_4.wmv"/>
				</Media>
				<Sizes>
					<us_en><![CDATA[34|36|38|40|42|44]]></us_en>
				</Sizes>
				<Colors>
					<us_en><![CDATA[Black|Washed flamingo]]></us_en>
				</Colors>
				<Descriptions>
					<us_en><![CDATA[5 pocket mini skirt]]></us_en>
				</Descriptions>
				<Compositions>
					<us_en><![CDATA[97% Cotton - 3% Elastan]]></us_en>
				</Compositions>
			</Product>
		</ProductGroup>
		<ProductGroup id="Shirt">
			<Product gender="Women" id="8" us_price="19">
				<Media>
					<VideoThumb id="8" url="thumbs/SPF_Woman_5.jpg"/>
					<MoreInfoThumbs>
						<Image id="8.1" url="thumbs/SPF_Woman_5_1.jpg"/>
						<Image id="8.2" url="thumbs/SPF_Woman_5_2.jpg"/>
						<Image id="8.3" url="thumbs/SPF_Woman_5_3.jpg"/>
					</MoreInfoThumbs>
					<Video id="8" url="/SPF_Woman_5.wmv"/>
				</Media>
				<Sizes>
					<us_en><![CDATA[S|M|L]]></us_en>
				</Sizes>
				<Colors>
					<us_en><![CDATA[Black|White]]></us_en>
				</Colors>
				<Descriptions>
					<us_en><![CDATA[T-shirt]]></us_en>
				</Descriptions>
				<Compositions>
					<us_en><![CDATA[100% Cotton]]></us_en>
				</Compositions>
			</Product>
		</ProductGroup>
		<ProductGroup id="Belt">
			<Product gender="Women" id="9" us_price="19">
				<Media>
					<VideoThumb id="9" url="thumbs/SPF_Woman_5a.jpg"/>
					<MoreInfoThumbs>
						<Image id="9.1" url="thumbs/SPF_Woman_5a_1.jpg"/>
						<Image id="9.2" url="thumbs/SPF_Woman_5a_2.jpg"/>
						<Image id="9.3" url="thumbs/SPF_Woman_5a_3.jpg"/>
					</MoreInfoThumbs>
					<Video id="9" url="/SPF_Woman_5a.wmv"/>
				</Media>
				<Sizes>
					<us_en><![CDATA[85cm|90cm|95cm]]></us_en>
				</Sizes>
				<Colors>
					<us_en><![CDATA[Black]]></us_en>
				</Colors>
				<Descriptions>
					<us_en><![CDATA[Black Pyramid buckle]]></us_en>
				</Descriptions>
				<Compositions>
					<us_en><![CDATA[100% Poliuterano]]></us_en>
				</Compositions>
			</Product>
		</ProductGroup>
		<ProductGroup id="Jacket">
			<Product gender="Women" id="10" us_price="104">
				<Media>
					<VideoThumb id="10" url="thumbs/SPF_Woman_6.jpg"/>
					<MoreInfoThumbs>
						<Image id="10.1" url="thumbs/SPF_Woman_6_1.jpg"/>
						<Image id="10.2" url="thumbs/SPF_Woman_6_2.jpg"/>
						<Image id="10.3" url="thumbs/SPF_Woman_6_3.jpg"/>
					</MoreInfoThumbs>
					<Video id="10" url="/SPF_Woman_6.wmv"/>
				</Media>
				<Sizes>
					<us_en><![CDATA[36|38|40|42]]></us_en>
				</Sizes>
				<Colors>
					<us_en><![CDATA[Spicy red]]></us_en>
				</Colors>
				<Descriptions>
					<us_en><![CDATA[Summer pattern trench]]></us_en>
				</Descriptions>
				<Compositions>
					<us_en><![CDATA[100% Cotton]]></us_en>
				</Compositions>
			</Product>
		</ProductGroup>
		<ProductGroup id="Shoes">
			<Product gender="Women" id="11" us_price="52">
				<Media>
					<VideoThumb id="11" url="thumbs/SPF_Woman_7.jpg"/>
					<MoreInfoThumbs>
						<Image id="11.1" url="thumbs/SPF_Woman_7_1.jpg"/>
						<Image id="11.2" url="thumbs/SPF_Woman_7_2.jpg"/>
						<Image id="11.3" url="thumbs/SPF_Woman_7_3.jpg"/>
					</MoreInfoThumbs>
					<Video id="11" url="/SPF_Woman_7.wmv"/>
				</Media>
				<Sizes>
					<us_en><![CDATA[37|39|41]]></us_en>
				</Sizes>
				<Colors>
					<us_en><![CDATA[Grey]]></us_en>
				</Colors>
				<Descriptions>
					<us_en><![CDATA[Bracelet Charol Shoe]]></us_en>
				</Descriptions>
				<Compositions>
					<us_en><![CDATA[Upper: 100% Poliuretane - Inner: 100% Poliuretano - Outsole: 100% Resine]]></us_en>
				</Compositions>
			</Product>
		</ProductGroup>
		<ProductGroup id="Jeans">
			<Product gender="Men" id="12" us_price="59">
				<Media>
					<VideoThumb id="12" url="thumbs/SPF_Men_1.jpg"/>
					<MoreInfoThumbs>
						<Image id="12.1" url="thumbs/SPF_Men_1_1.jpg"/>
						<Image id="12.2" url="thumbs/SPF_Men_1_2.jpg"/>
						<Image id="12.3" url="thumbs/SPF_Men_1_3.jpg"/>
					</MoreInfoThumbs>
					<Video id="12" url="/SPF_Men_1.wmv"/>
				</Media>
				<Sizes>
					<us_en><![CDATA[46|48|50|52|54|56]]></us_en>
				</Sizes>
				<Colors>
					<us_en><![CDATA[Medium washed|Light washed|Dark contrast]]></us_en>
				</Colors>
				<Descriptions>
					<us_en><![CDATA[Straight Leg Dark contrast Jeans]]></us_en>
				</Descriptions>
				<Compositions>
					<us_en><![CDATA[100% Cotton]]></us_en>
				</Compositions>
			</Product>
		</ProductGroup>
		<ProductGroup id="Sweatshirt">
			<Product gender="Men" id="13" us_price="44">
				<Media>
					<VideoThumb id="13" url="thumbs/SPF_Men_2.jpg"/>
					<MoreInfoThumbs>
						<Image id="13.1" url="thumbs/SPF_Men_2_1.jpg"/>
						<Image id="13.2" url="thumbs/SPF_Men_2_2.jpg"/>
						<Image id="13.3" url="thumbs/SPF_Men_2_3.jpg"/>
					</MoreInfoThumbs>
					<Video id="13" url="/SPF_Men_2.wmv"/>
				</Media>
				<Sizes>
					<us_en><![CDATA[M|L|XL|XXL]]></us_en>
				</Sizes>
				<Colors>
					<us_en><![CDATA[Brown]]></us_en>
				</Colors>
				<Descriptions>
					<us_en><![CDATA[Classic Fit Dirty from Outer Space Hoody]]></us_en>
				</Descriptions>
				<Compositions>
					<us_en><![CDATA[100% Cotton]]></us_en>
				</Compositions>
			</Product>
		</ProductGroup>
		<ProductGroup id="Sneakers">
			<Product gender="Women" id="14" us_price="37">
				<Media>
					<VideoThumb id="14" url="thumbs/SPF_Woman_1.jpg"/>
					<MoreInfoThumbs>
						<Image id="14.1" url="thumbs/SPF_Woman_1_1.jpg"/>
						<Image id="14.2" url="thumbs/SPF_Woman_1_2.jpg"/>
						<Image id="14.3" url="thumbs/SPF_Woman_1_3.jpg"/>
					</MoreInfoThumbs>
					<Video id="14" url="/SPF_Woman_1.wmv"/>
				</Media>
				<Sizes>
					<us_en><![CDATA[37|38|39|40|41]]></us_en>
				</Sizes>
				<Colors>
					<us_en><![CDATA[White|Black]]></us_en>
				</Colors>
				<Descriptions>
					<us_en><![CDATA[White sneakers]]></us_en>
				</Descriptions>
				<Compositions>
					<us_en><![CDATA[Upper: 100% Cotton - Inner: 100% Cotton - Outsole: 100% Rubber]]></us_en>
				</Compositions>
			</Product>
		</ProductGroup>
		<ProductGroup id="Skirt">
			<Product gender="Women" id="15" us_price="44">
				<Media>
					<VideoThumb id="15" url="thumbs/SPF_Woman_2.jpg"/>
					<MoreInfoThumbs>
						<Image id="15.1" url="thumbs/SPF_Woman_2_1.jpg"/>
						<Image id="15.2" url="thumbs/SPF_Woman_2_2.jpg"/>
						<Image id="15.3" url="thumbs/SPF_Woman_2_3.jpg"/>
					</MoreInfoThumbs>
					<Video id="15" url="/SPF_Woman_2.wmv"/>
				</Media>
				<Sizes>
					<us_en><![CDATA[36|37|38|39|40|41|42]]></us_en>
				</Sizes>
				<Colors>
					<us_en><![CDATA[White with blue stripes]]></us_en>
				</Colors>
				<Descriptions>
					<us_en><![CDATA[Overall Striped Skirt]]></us_en>
				</Descriptions>
				<Compositions>
					<us_en><![CDATA[100% Cotton]]></us_en>
				</Compositions>
			</Product>
		</ProductGroup>
		<ProductGroup id="Shirt">
			<Product gender="Women" id="16" us_price="24">
				<Media>
					<VideoThumb id="16" url="thumbs/SPF_Woman_2a.jpg"/>
					<MoreInfoThumbs>
						<Image id="16.1" url="thumbs/SPF_Woman_2a_1.jpg"/>
						<Image id="16.2" url="thumbs/SPF_Woman_2a_2.jpg"/>
						<Image id="16.3" url="thumbs/SPF_Woman_2a_3.jpg"/>
					</MoreInfoThumbs>
					<Video id="16" url="/SPF_Woman_2a.wmv"/>
				</Media>
				<Sizes>
					<us_en><![CDATA[S|M|L]]></us_en>
				</Sizes>
				<Colors>
					<us_en><![CDATA[Yellow]]></us_en>
				</Colors>
				<Descriptions>
					<us_en><![CDATA[Yellow tee shirt]]></us_en>
				</Descriptions>
				<Compositions>
					<us_en><![CDATA[100% Cotton]]></us_en>
				</Compositions>
			</Product>
		</ProductGroup>
	</Brand>
</StoreData>