body
{
    background: url("Images/bg-gradient.png") repeat-x #83ACD6;
    font-family: "Segoe UI" Arial;
    font-size: .8em;
}

h3
{
    margin-bottom: 2px;
}

#wrapper
{
    width: 980px;
    margin: -15px auto 0px auto;
}

    html>/**/body #wrapper
    {
        margin-top: 0px;
    }

    *html #wrapper
    {
        margin-top: 0px;
    }

#innerWrapper
{
    width: 100%;
    background: url("Images/bg-wrapper.jpg") repeat-y;
    display: table;
}

#upper
{
    background: url("Images/bg-header.jpg") no-repeat;
    height: 98px;
}

#logo
{
    background: url("Images/logo.jpg") no-repeat;
    height: 26px;
    width: 163px;
    position: relative;
    top: 10px;
    left: 10px;
}


#topLinks
{
    text-align: right;
    color: #DDD;
    margin-bottom: 5px;
}

a.topLink
{
    color: #555;
    text-decoration: none;
    margin-right: 5px;
    margin-left: 5px;
    border-bottom: solid 1px Transparent;
}

a.topLink:hover
{
    border-bottom: solid 1px #69C;
}

#content
{
    margin-top: -50px;
    width: 980px;
    display: table;
}

#footer
{
    background: url("Images/bg-footer.jpg") no-repeat;    
    height: 23px;
}

.pageContent
{
    padding: 10px;
    min-height: 510px;
}

.header
{
    font-weight: bold;
    font-size: 1.4em;
    color: #FC3;
    margin-bottom: 15px;
}

.subHeader
{
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 5px;
    margin-bottom: 5px;
    clear: both;
}

.MapPanel
{
    float: left;
    width: 640px !important;
    height: 480px !important;
    position: relative;
}

 .leftPanel
{
    float: left;
    width: 640px !important;
    position: relative;
}

.rightPanel, #CreateFieldRightPanel
{
    float: left;
    width: 300px;
    background: White;
    border: solid 1px #777;
    margin-left: 8px;
    padding: 5px; 
}

.address-box
{
    overflow: auto;
}
 
#_resultDiv
{
    border-top: solid 1px #ccc;
    width: 100%;
}
 
 /* Table */
.LeaguesTable, .ViewLeagueTable
{
    border: solid 1px #CCC;
    background: White;
    width: 100%;
}

.LeaguesTable a
{ 
    color: #369;
    text-decoration: none;
}

.LeaguesTable a:hover
{
    text-decoration: underline;
}

.LeagueAltRow
{
    background: #F1F1F1;
}

.LeagueHeader
{
    background: #DBE7F2;
    text-align: left;
    height: 20px;
}

a.optionsLink, .PagerStyle a:link, .PagerStyle a:visited
{
    text-decoration: none;
    margin: 5px;
    padding: 0px 4px 2px 4px;
    float: right;
    background: url("Images/button-off.png") repeat-x;
    border: solid 1px #DDD;
    color: Black;
    text-decoration: none;
}

a.optionsLink:hover, .PagerStyle a:hover
{
    background: url("Images/button-on.png") repeat-x;
    border-bottom: solid 1px #CCC;
    border-right: solid 1px #CCC;
    color: #333;
    text-decoration: none;    
}

.PagerStyle
{
    font-weight: bold;
}

.PagerStyle a:link /* overides .PagerStyle a:link above */
{
    float: none;
    font-weight: normal;
    margin: 1px;
}

.tableLabel, .tableLabel-light, .text-label, .form-label
{
    font-weight: bold;
    color: #555;
}

.tableLabel-light
{
    color: White;
}

/* Field*/

.FieldWeather
{
    margin-bottom: 5px;
    padding: 5px;
    background: #FFE9C9;
}

/*Leagues*/
.LeaguesTableDiv
{
    padding: 5px;
    background: White;
}

.ViewLeagueTableDiv
{
    background: White;
    float: left;
    padding: 5px;
    width: 630px;
}

.LeagueMap
{
    height: 255px;
    margin-bottom: 15px;
    width: 955px;
    position: relative;
    float: left;
}

/*Manage Account*/
#ManageMyLeagues, #ManageMyFields
{
    margin-bottom: 10px;
    background: White;
    border: solid 1px #777;
    padding: 5px;
    display: table;
    width: 625px;
}

.ManageOptionsLinkDiv
{
    height: 25px;
}

/* Create Field and League */
#CreateFieldLeftPanel
{
    width: 470px;
    float: left;
    position: relative;
}

#CreateFieldRightPanel
{
    width: 460px;
    text-align: center;
}

/* Direction */

.DirectionsInstructionDiv
{
}

.DirectionsInstruction
{
    max-height: 270px;
    min-height: 60px;
    overflow: auto;
    text-align: left;
    border: solid 1px #999;
}

#disclaimer
{
	position: absolute;
	top: 625px;
	clear: both;
	width: auto;
	text-align: left;
	font-size: small;
}