<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WLQuickApps.SocialNetwork.Business.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <WLQuickApps.SocialNetwork.Business.Properties.Settings>
      <setting name="WLQuickApps_SocialNetwork_Business_LiveAlertsMessageService_MessageWebServicesService"
        serializeAs="String">
        <value>http://services.alerts.live-ppe.com/axis/services/Message</value>
      </setting>
      <setting name="WLQuickApps_SocialNetwork_Business_LiveAlertsSubscriptionService_AlertsWebServicesService"
        serializeAs="String">
        <value>http://services.alerts.live-ppe.com/axis/services/Subscription</value>
      </setting>
      <setting name="WLQuickApps_SocialNetwork_Business_MapPointService_CommonService"
        serializeAs="String">
        <value>http://findv3.staging.mappoint.net/Find-30/Common.asmx</value>
      </setting>
    </WLQuickApps.SocialNetwork.Business.Properties.Settings>
  </applicationSettings>
</configuration>